.actions {
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 135px;
}

.actions li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.actions li.bordered {
	border-top: 1px solid #CECECE;
	margin-top: 10px;
	padding-top: 10px;
}

.actions li.indented {
	padding: 7px 5px;
}

.actions li a {
	display: block;
	padding: 5px;
	color: #000;
	text-decoration: none;
	border: 1px solid transparent;
}

.actions li a:hover, 
.actions li a:active, 
.actions li a:focus,
.actions li a:visited {
	color: inherit;
	text-decoration: none;
}

.actions li a:hover {
	border-color: #ECECEC;
	box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.actions li .lbl {
	display: block;
	width: 100%;
	margin-bottom: 5px;
}

.line-size {
	width: 30px;
}

input[type="color"] {
	padding: 0;
	width: 48px;
}

